name: Docs

on:
  release:
    types: [ created ]
  workflow_dispatch:

concurrency:
  group: "docs"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - uses: actions/configure-pages@v5
      - uses: actions/checkout@v6
      - uses: gradle/actions/setup-gradle@v5
        with:
          build-scan-publish: true
          build-scan-terms-of-use-url: 'https://gradle.com/terms-of-service'
          build-scan-terms-of-use-agree: 'yes'

      - name: Generate Docs
        run: ./gradlew :integrationTest:hashRouterTest:jsBrowserDistribution
      - uses: actions/upload-pages-artifact@v4
        with:
          path: integrationTest/hashRouterTest/build/dist/js/productionExecutable
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
