name: Docs

on:
  release:
    types: [ created ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3
      - uses: gradle/wrapper-validation-action@v1
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: 11
      - name: Generate Docs
        run: ./gradlew :integrationTest:hashRouterTest:browserDistribution
      - name: Save sample
        uses: actions/upload-artifact@v3
        with:
          path: integrationTest/hashRouterTest/build/distributions
      - name: Switch to GitHub Pages
        uses: actions/checkout@v3
        with:
          ref: webpage
      - run: find . ! -name CNAME -a ! -name ".git" -delete
      - uses: actions/download-artifact@v3
      - name: Copy files to /
        run: cp -r artifact/* . && rm -Rf artifact/*
      - name: Config git
        run: git config user.email "cd-bot@softwork.app" && git config user.name "CD Bot"
      - name: Add changes
        run: git add .
      - name: Try to commit changes
        run: git commit -m "Publish docs"
        continue-on-error: true
      - name: Publish changes
        run: git push
        if: ${{ success() }}
